.tweet {
  margin-bottom: 10px;
}

.tweet-body {
  border: 1px solid map-get($twitter, 'extra-light-gray');
  border-radius: 5px;
  display: inline-block;
  background-color: $white;
  width: 100%;
  padding: 1em;
  margin-bottom: 0px;
}

.tweet-body.control {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet-user-image {
  height: 42px;
  width: 42px;
  border-radius: 21px;
}

.tweet-user-names {
  font-size: 12px;
}

.tweet-user-name {
  font-weight: bold;
}

.tweet-user-username {
  color: map-get($twitter, 'dark-gray');
}

.tweet-logo {
  color: map-get($twitter, 'blue');
}

.tweet-footer {
  font-size: 10px;
  color: map-get($twitter, 'light-gray');
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.tweet-control-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: map-get($twitter, 'extra-extra-light-gray');
  border: 1px solid map-get($twitter, 'extra-light-gray');
  color: map-get($twitter, 'dark-gray');
  border-top: none;
  margin-top: 0px;
  padding: 0 15px;
}

.tweet-control-bar-icon {
  margin: 0 10px;
  cursor: pointer;
}

.tweet-control-bar-icon.active {
  color: map-get($twitter, 'blue');
}
